body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.dreamstime.com%2Frainbow-spectrum-squares-cubes-mosaic-abstract-background-pattern-geometrical-design-illustration-image217104934&psig=AOvVaw25SXwTyMsJBzL4-mji_62Z&ust=1684524694882000&source=images&cd=vfe&ved=0CA0QjRxqFwoTCICwrtPN__4CFQAAAAAdAAAAABAI.jpg);
}

canvas {
    background: #000000;
}
